/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 250px;
    border: solid 1px black;
    background-color: cornflowerblue;
    
  }

pre {
    overflow-x: auto; 
    white-space: pre-wrap; 
}
/* CSS code above courtesy from ChatGPT (I was too tired and just got AI to help me) */

p {
  margin-top: 2px;
  margin-bottom: 2px;
}

#ex1 {
  margin-top: 2px;
  margin-bottom: 2px;
  text-indent: 25px;
}

#ex2 {
  margin-top: 2px;
  margin-bottom: 2px;
  text-indent: 50px;
}

