/* we can use a single css file to style all the files in our wwebsite */

/* you can pick your own background colors, text colors, and fonts */

/* we can select an html element tag, in this case "body" will apply to the whole document */
body {
  background-image: url(../img/cherry-blossom-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* we can have rules apply to multiple elements at the same time with commas */
h1 {
  font-family: 'Times New Roman', Cambria, Cochin, Georgia, Times, serif;
}

h2 {
  font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
  text-decoration-line: underline;
}

h3 {
  font-family: sans-serif;
}

/* and we can have rules that overlap other rules, both take effect */
h1 {
  margin-left: 325px;
  margin-right: 50px;
  margin-bottom: 20px;
  border: 1px solid black;
  background-color: #1863d6;
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 3px;
  font-size: 200%;
  outline: thick ridge #001f3d;  
}

.mainpage {
  border: solid 1px  black;
  background-color: #b6cbe1;
  padding-inline: 10px;
  margin: 25px;
  margin-left: 300px;
  margin-right: 25px;
  margin-top: 30px;
  outline: 5px ridge #001f3d;
}

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  border: solid 1px  black;
  background-color: #b6cbe1;
  padding-inline: 10px;
  margin: 25px;
  margin-left: 300px;
  margin-right: 25px;
  margin-top: 20px;
  outline: 5px ridge #151983;
}