/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #000000;
    background-color: #21c700;
  }

  h1 {
    color: #191970;
    font-family: Tahoma;
    font-size: 200%;
  }

  h2 {
    color: #0000b8;
    font-family: Verdana;
    font-size: 150%;
  }

  p {
    color: #0000b8;
    font-family: Geneva;
    font-size: 125%;
  }