/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
h4 {
  font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
  text-decoration-line: underline overline;
  font-size: 200%;
  line-height: 0%;
}
h2 {
  font-family: Georgia, Cambria, Cochin, Times, 'Times New Roman', serif;
  text-decoration-line: underline overline;
  font-size: 150%;
}

p {
  font-size: 100%;
}

.minor-section7 {
    padding: 10px;
    margin-left: 25px;
    margin-right: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px whitesmoke;
    background-color: whitesmoke;
    border: 5px inset darkred;
    outline: 10px ridge red;
}

.styledName {
  color: black;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  border: 3px inset darkblue;
  outline: 3px ridge blue;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: whitesmoke;
}